<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="DB_WCF_IntegrateTest.Properties.Settings.AssDBConnectionString"
            connectionString="Data Source=172.17.10.147;Initial Catalog=AssDB;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>